* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav {
    display: flex;
    gap: 20px;  
    justify-content: center;
}
.nav p {
    margin: 0;
    cursor: pointer;
}

.TechBlog {
    color:purple;
}

.first_section {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second_section{
    max-width: 1000px;
    margin: 60px auto;
}
.second_section h3{
    text-align: center;
    margin-bottom: 30px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card {
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.card-color {
    height: 190px;
}

.card-content {
    padding: 16px;
}

.card-content h4 {
    margin-bottom: 8px;
    font-size: 16px;
}

.card-content p {
    font-size: 14px;
    color: rgb(85, 85, 85);
}
.card-purple { background-color: rgb(207, 198, 255); }
.card-pink   { background-color: rgb(255, 193, 220); }
.card-blue   { background-color: rgb(191, 227, 255); }
.card-green  { background-color: rgb(214, 255, 191); }
.card-yellow { background-color: rgb(255, 230, 184); }
.card-orange { background-color: rgb(255, 214, 184); }

.footer {
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 40px 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border-top: 2px solid gold;
    font-size: 14px;
}